<phpunit
        bootstrap="bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="tests">
            <directory>./DbMigration/</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="db" value="root@127.0.0.1/test_migration"/>
        <ini name="zend.exception_ignore_args" value="On"/>
    </php>

    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>
</phpunit>
